<!DOCTYPE html>

<html>
	<head>
	<meta charset="utf-8">
		<title>Simple KeyWord Extractor Demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<link href="{{static_url("bootstrap/css/bootstrap.min.css")}}" rel="stylesheet" media="screen">
		<link href="{{static_url("bootstrap/css/bootstrap-responsive.css")}}" rel="stylesheet">

		<style type="text/css">

.ProjectTitle {
	padding-top:30px;
	padding-bottom:30px;
	padding-left: 10px;
	padding-right:10px;
	margin-bottom:10px;
	color:inherit;
	background-color:#eeeeee;
	text-align: center;
}	

	</style>
		
		<script src="{{static_url("jquery/jquery-1.9.1.min.js")}}"  type="text/javascript"></script>
		<script src="{{static_url("jquery/jquery.media.js")}}"  type="text/javascript"></script>

		<script src="{{static_url("bootstrap/js/bootstrap.min.js")}}"  type="text/javascript"></script>
		<script src="{{static_url("scripts/controllers/controller.js")}}" type="text/javascript"></script>
		<script src="{{static_url("scripts/models/model.js")}}" type="text/javascript"></script>

	</head>
	<body>

		<div class="container-narrow">
			<h2>New Keyword Extractor DEMO</h2>
			<div class="row">
				<hr>
				<h4>Please input the text:</h4>

				<div>
					<textarea id="content_input" class="input-xxlarge" rows="10"></textarea>
				</div>

				<div>
					<p>
						<button id="search_button" class="btn btn-large btn-primary" type="button">Submit</button>
					</p>
				</div>
			</div>
			<div class="row">
				<hr/>
				<h4>The result are shown as below:</h4>
				<textarea id="keywords_result" class="input-xxlarge" rows="10"></textarea>
			</div>
		</div>
			
	</body>
</html>